<%- include ('../../partials/header') %>
<%- include ('../../partials/navbar') %>


<div class="container">
    <hr>
    <h2>
        Usuários
    </h2>
    <a href="/admin/users/create" class="btn btn-success">Criar novo Usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form action="/admin/users/delete" method="post">
                            <input class="form-control" type="hidden" name="id" value="<%= user.id %>">
                            <button class="btn btn-danger" type="submit">Deletar Usuário</button>
                        </form>
                    </td>
                </tr>
            <%}) %> 
        </tbody>
    </table>

</div>



<%- include ('../../partials/footer') %>